:root {
    --color-bg-light: #ececf1; 
    --color-bg-card: #FFFFFF;
    --color-primary-text: #100f0f;
    --color-secondary-text: #0c0c0c;
    --color-border: #E0E0E7;
    --color-accent-blue: #0a53a7; 
    
    /* Mood Colors  */
    --mood-happy: #8ce6a7; 
    --mood-calm: #a8dadc; 
    --mood-sad: #f3b395; 
    --mood-inspired: #f09dd9; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-light);
    color: var(--color-primary-text);
    line-height: 1.6;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-accent-blue);
}

/* --- Navigation Bar --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar h1 {
    font-size: 1.8em;
    font-weight: 600;
}

.navbar nav a {
    margin-left: 20px;
    color: var(--color-secondary-text);
    font-weight: 500;
    transition: color 0.2s;
}

.navbar nav a:hover {
    color:#4A90E2;
}
.post-button {
    background-color: var(--color-accent-blue);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}

.post-button:hover {
    background-color: #3C77BF;
}


.settings-container {
  max-width: 450px;
  margin: 30px   auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-left: 20px;
}

.settings-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.settings-section {
  margin-bottom: 25px;
}

.settings-section h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #080808;
}

.settings-section ul {
  list-style: none;
  padding: 0;
}

.settings-section ul li {
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.settings-section ul li:hover {
  background: #7c9eda;
}